<html>

<head>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/buildingAddition.js"></script>
</head>

<body>
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buildings">Здания</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">Статистика</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <form>
                <div class="form-group">
                    <div class="text-center">
                        <label class="text-center" for="building-name">Название</label>
                    </div>
                    <input type="text" class="form-control" id="building-name" name="name"
                        placeholder="Введите название" maxlength="50">
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <label for="building-description">Введите описание</label>
                    </div>
                    <textarea name="description" class="form-control" id="building-description"
                        placeholder="Введите описание" rows="3" maxlength="555"></textarea>
                </div>
            </form>
            <div class="text-center">
                <button class="add-building" class="btn btn-primary m-x-auto">Создать</button>
                <div><span class="result-caption"></span></div>

            </div>

        </div>
    </div>
</body>

</html>